<ion-content>
    <div class="div-header">
        <h1>Para ti</h1>
    </div>
    <ion-grid fixed="true">
        <ion-row>
					<ion-col class="ion-align-self-center" size="6">
						<ion-card class="card-1" (click)="goTo('iniciando_meditacion')">
								<ion-card-content>
										<div>
												<p>Iniciación a la </p>
												<p class="background"> Meditación </p>
										</div>
								</ion-card-content>
						</ion-card>
					</ion-col>
					<ion-col class="ion-align-self-center" size="6">
							<ion-card class="card-2" (click)="goTo('eliminar_ansiedad')">
									<ion-card-content>
											<div>
													<p>Eliminar la</p>
													<p class="background"> Ansiedad </p>
											</div>
									</ion-card-content>
							</ion-card>
					</ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-card class="card-3" (click)="goTo('salud_plena')">
                    <ion-card-content>
                        <div>
                            <p>Salud </p>
                            <p class="background"> plena </p>
                        </div>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col ize="6">
                <ion-card class="card-4" (click)="goTo('miedo_rechazo')">
                    <ion-card-content>
                        <div>
                            <p>Miedo al</p>
                            <p class="background"> Rechazo </p>
                        </div>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
				<ion-row>
					<ion-col size="6">
							<ion-card class="card-5" (click)="goTo('triangulo_exito')">
									<ion-card-content>
											<div>
													<p>El Triangulo del</p>
													<p class="background"> Éxito </p>
											</div>
									</ion-card-content>
							</ion-card>
					</ion-col>
					<ion-col ize="6">
							<ion-card class="card-6" (click)="goTo('dejando_fumar')">
									<ion-card-content>
											<div>
													<p>Dejando de </p>
													<p class="background"> Fumar </p>
											</div>
									</ion-card-content>
							</ion-card>
					</ion-col>
			</ion-row>
    </ion-grid>
</ion-content>