<ion-content>
    <div class="div-header">
        <h1>Para ti <br> {{nombre_usuario}}</h1>
    </div>
    <ion-grid fixed="true">
        <ion-row>
					<ion-col class="ion-align-self-center" size="6">
						<ion-card class="card-1" (click)="goTo('iniciando_meditacion')">
								<ion-card-content>
										<div>
												<p>INICIACIÓN A LA </p>
												<p class="background"> MEDITACIÓN </p>
										</div>
								</ion-card-content>
						</ion-card>
					</ion-col>
					<ion-col class="ion-align-self-center" size="6">
							<ion-card class="card-2" (click)="goTo('eliminar_ansiedad')">
									<ion-card-content>
											<div>
													<p>ELIMINAR LA</p>
													<p class="background"> ANSIEDAD </p>
											</div>
									</ion-card-content>
							</ion-card>
					</ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-card class="card-3" (click)="goTo('salud_plena')">
                    <ion-card-content>
                        <div>
                            <p>SALUD </p>
                            <p class="background"> PLENA </p>
                        </div>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col ize="6">
                <ion-card class="card-4" (click)="goTo('miedo_rechazo')">
                    <ion-card-content>
                        <div>
                            <p>MIEDO AL</p>
                            <p class="background"> RECHAZO </p>
                        </div>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
				<ion-row>
					<ion-col size="6">
							<ion-card class="card-5" (click)="goTo('triangulo_exito')">
									<ion-card-content>
											<div>
													<p>EL TRIANGULO DEL</p>
													<p class="background"> ÉXITO </p>
											</div>
									</ion-card-content>
							</ion-card>
					</ion-col>
					<ion-col ize="6">
							<ion-card class="card-6" (click)="goTo('dejando_fumar')">
									<ion-card-content>
											<div>
													<p>DEJANDO DE </p>
													<p class="background"> FUMAR </p>
											</div>
									</ion-card-content>
							</ion-card>
					</ion-col>
			</ion-row>
    </ion-grid>
</ion-content>