.div-header {
  background: linear-gradient(to right, #04c1cc, #29a6d1);
  height: 30%;
  margin-bottom: -25%;
  border: none !important;
  border-bottom-color: transparent !important;
  border-bottom: none !important;
  border-radius: 0px 0px 40px 40px;
  display: flex;
}
.div-header h1 {
  justify-content: center !important;
  text-align: center;
  padding-top: 17%;
  color: white;
  width: 100%;
}
ion-avatar {
  width: 100%;
  height: auto;
}
ion-grid {
	padding: 6vh 4vw;
}
.card-1 {
  --background: url("/assets/PARATI/iniciacion_a_la_meditacion.png") no-repeat center center / cover;
  border-radius: 15px;
}
.card-2 {
  --background: url("/assets/PARATI/metodo_para_erradicar_la_ansiedad.png") no-repeat center center / cover;
  border-radius: 15px;
}
.card-3 {
  --background: url("/assets/PARATI/salud_plena.png") no-repeat center center / cover;
  border-radius: 15px;
}
.card-4 {
  --background: url("/assets/PARATI/miedo_al_rechazo.png") no-repeat center center / cover;
  border-radius: 15px;
}
.card-5 {
  --background: url("/assets/PARATI/el_triangulo_del_exito.png") no-repeat center center / cover;
   border-radius: 15px;
}
.card-6 {
  --background: url("/assets/PARATI/dejar_de_fumar.png") no-repeat center center / cover;
  border-radius: 15px;
}
ion-card {
	box-shadow: 3px 3px 15px #302f2f;
}
ion-card ion-card-content {
  height: 28vh;
  position: relative;
}
ion-card ion-card-content div {
  text-align: left;
  color: white;
  position: absolute;
  bottom: 2px;
}
ion-card ion-card-content div p {
  font-size: 0.9em !important;
}

@media (-webkit-min-device-pixel-ratio: 0.75),  (-webkit-min-device-pixel-ratio: 1.25),  (min-resolution: 120dpi) {
  ion-content {
    --background: url("/assets/PARATI/background-ldpi/0.jpg") no-repeat center center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 1), (-webkit-min-device-pixel-ratio: 1.6666666666666667), (min-resolution: 160dpi) {
  ion-content {
    --background: url("/assets/PARATI/background-mdpi/0.jpg") no-repeat center center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 1.33),  (-webkit-min-device-pixel-ratio: 2.21875),  (min-resolution: 213dpi) {
  ion-content {
    --background: url("/assets/PARATI/background-tvdpi/0.jpg") no-repeat center center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5),  (-webkit-min-device-pixel-ratio: 2.5),  (min-resolution: 240dpi) {
  ion-content {
    --background: url("/assets/PARATI/background-hdpi/0.jpg") no-repeat center center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 2),  (-webkit-min-device-pixel-ratio: 3.3333333333333335),  (min-resolution: 320dpi) {
  ion-content {
    --background: url("/assets/PARATI/background-xhdpi/0.jpg") no-repeat center center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 3),  (-webkit-min-device-pixel-ratio: 5),  (min-resolution: 480dpi) {
  ion-content {
    --background: url("/assets/PARATI/background-xxhdpi/0.jpg") no-repeat center center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 4),  (-webkit-min-device-pixel-ratio: 6.666666666666667),  (min-resolution: 640dpi) {
  ion-content {
    --background: url("/assets/PARATI/background-xxxhdpi/0.jpg") no-repeat center center / cover;
  }
}

