ion-content {
  --background: transparent;
	background-repeat: no-repeat;
	background-size: cover;
}
.div-top {
  background: transparent;
  height: 40vh;
  margin-bottom: -8vh;
  border: none !important;
  display: flex;
  text-align: center;
}
.section_id {
  margin-top: 5vh;
}
.back-button {
  --background: transparent !important;
  --border: none !important;
  --box-shadow: none !important;
  z-index: 2000;
}
.div-bottom {
  //background: transparent;
  height: 50vh;
  border: none !important;
  border-top-color: transparent !important;
  border-top: none !important;
  border-radius: 50px 50px 0px 0px;
  display: flex;
  text-align: center;
}
.div-bottom ion-col {
  justify-content: center !important;
  display: flex;
  margin-bottom: 5vh;
}
.div-bottom ion-grid {
  margin-block-start: -7vh;
}
.card-audio {
  width: 90vw;
  border-radius: 10px;
  box-shadow: -5px 5px 10px #424242;
	opacity: 0.8;
}
.btn-icon {
  --background: transparent !important;
  --border: none !important;
  --box-shadow: none !important;
  height: 100%;
  margin: 0 -5px;
}
.btn-icon ion-icon {
  color: var(--main-color);
  font-size: 56px;
}
.rangePlaytime {
  font-size: small;
  display: flex;
  justify-content: space-between;
}
.rangePlaytime .startTime {
  padding-left: 9px;
}
.rangePlaytime .endTime {
  padding-right: 15px;
}
.rangeChangetime {
  display: flex;
  justify-content: space-between;
  margin: -15px -10px;
	ion-icon{
		font-size: 1.6rem;
	}
}
ion-toolbar {
  // --background: #666666 !important;
	--background: transparent;
	padding-top: 10vh;
	// --ion-color-base: transparent !important;
	// --background: white;
  //  --opacity: 0.9;
}
// ion-footer {
// 	//background-color:rgba(0,0,0,0);
// 	--background: transparent !important;
// 	--ion-color-base: transparent !important;
	
// 	&.footer-md::before {
// 			background-image: none;
// 	}
// }
// .scroll-content {
// 	margin-bottom: 0!important;
// }
// ion-footer {
//   // --background: #666666 !important;
// 	//--background: transparent;
// 	//--ion-color-base: transparent !important;
// }
.controls {
  margin: 0px auto;
  width: 90vw;
  padding-top: 1vh;
  padding-bottom: 3vh;
}
.controls ion-col {
  padding: 0px !important;
}
.controls ion-button {
  --background: transparent !important;
  //--border: none !important;
  --box-shadow: none !important;
}
.controls ion-icon {
  color: white;
}
.punter_on {
  pointer-events: auto;
}
.punter_off {
  pointer-events: none;
}
ion-range {
  padding-bottom: 0;
  padding-top: 0;
  --bar-background: white;
  --bar-background-active: var(--main-color);
}
.play-pause-btn {
  --background: transparent;
  --background-activated: #a5a4a4;
  --background-activated-opacity: 1;
	--border-color: white;
	--border-style: solid;
	--border-width: 0.1em;
  width: 4.5em;
  height: 4.5em;
}

.play-pause-btn ion-icon {
  color: white;
  font-size: 2.5em;
}
.items-track {
  --padding-start: 0px;
  padding: 1vh 0;
  border-bottom: 2px solid;
  border-color: #cacaca;
}
.items-track ion-button {
  --padding-start: 0px;
}
.items-track ion-icon {
  width: 48px;
  vertical-align: top;
}
.items-track p {
  text-align: justify;
}
.title-track {
  margin: 10vh 0;
  text-align: center;
	ion-text {
		color: white;
	}
}
.icon-section {
  margin: 0 auto;
  text-align: center;
  font-size: calc(1em + 10vh);
  color: white;
}
.name-section {
  text-align: center;
  color: white;
}
@media only screen and (max-width: 320px) {
  .controls {
    width: 100vw;
  }
}
@media only screen and (min-width: 321px) and (max-width: 360px) {
  .controls {
    width: 90vw;
  }

}
@media only screen and (min-width: 361px) and (max-width: 410px) {
  .controls {
    width: 80vw;
  }
}
@media only screen and (min-width: 411px) and (max-width: 759px) {
  .controls {
    width: 73vw;
  }
}
@media only screen and (min-width: 760) {
  .controls {
    width: 50vw;
  }
}

@media only screen and (max-height:568) {
	ion-toolbar {
		padding-top: 1vh;
	}
}
@media only screen and (min-height:570) {
	ion-toolbar {
		padding-top: 8vh;
	}
}
