ion-item {
    --ion-background-color: white !important;
    margin-bottom: 5px;
}

.img-header{
    width: 50%;
    height: 50%
}
.grid-header{
    height: 10% !important;
}
.grid-central{
    width: 80%;
    align-items: center !important;
}
.row-titulo{
    height:100% !important;
    width: 100% !important;
    margin: 20% 0 20% 0 !important;
}
.row-titulo .titulo-img{
    width: 80%;
    height: 80%;
    min-width: 80%;
    min-height: 80%;
}
ion-avatar{
    border: 1px solid var(--main-color)  !important;
    width: 90px;
    height: 90px;
    margin-bottom: 10%;
}

ion-input {
    width: 100%;
		color: var(--main-color);
		padding-bottom: 5px;
		background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,192,200,1) 0%, rgba(2,159,215,1) 60%, rgba(3,128,229,1) 100%) left bottom rgba(134, 132, 132, 0) no-repeat;
		background-size: 100% 1px;
        
}
ion-label{
		font-size: 1.2em !important;
    color: white !important;
    opacity: 0.5;
		padding-bottom: 2em !important;
}
.btn-turquesa{
    color: black !important;
    background-color: var(--main-color) !important;
    border-radius: 60px;
    border: 2px solid var(--main-color);
    // margin-top: 10%;
    text-transform: none;
}
.row-button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 10%;
}
.a-white {
    color: white !important;
    text-decoration: none;
}
.a-medium {
    color:grey !important;
    // text-decoration: none;
    font-size: smaller;
}

.style-transparent{
    --ion-background-color: transparent !important;
}

.frm-padding {
    padding-top: 20%;
}

@media (-webkit-min-device-pixel-ratio: 0.75),
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 120dpi) {
  ion-content {
    --background: url("/assets/INTRODUCCION/background-ldpi/3.jpg") no-repeat center center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 1),
  (-webkit-min-device-pixel-ratio: 1.6666666666666667),
  (min-resolution: 160dpi) {
  ion-content {
    --background: url("/assets/INTRODUCCION/background-mdpi/3.jpg") no-repeat center center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 1.33),
  (-webkit-min-device-pixel-ratio: 2.21875),
  (min-resolution: 213dpi) {
  ion-content {
    --background: url("/assets/INTRODUCCION/background-tvdpi/3.jpg") no-repeat center center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5),
  (-webkit-min-device-pixel-ratio: 2.5),
  (min-resolution: 240dpi) {
  ion-content {
    --background: url("/assets/INTRODUCCION/background-hdpi/3.jpg") no-repeat center center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 3.3333333333333335),
  (min-resolution: 320dpi) {
  ion-content {
    --background: url("/assets/INTRODUCCION/background-xhdpi/3.jpg") no-repeat center center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 3),
  (-webkit-min-device-pixel-ratio: 5),
  (min-resolution: 480dpi) {
  ion-content {
    --background: url("/assets/INTRODUCCION/background-xxhdpi/3.jpg") no-repeat center center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 4),
  (-webkit-min-device-pixel-ratio: 6.666666666666667),
  (min-resolution: 640dpi) {
  ion-content {
    --background: url("/assets/INTRODUCCION/background-xxxhdpi/3.jpg") no-repeat center center / cover;
  }
}
