<ion-content>
  <div class="div-top">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" class="align-left">
          <ion-button class="back-button" (click)="goBack()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-icon [src]="this.section_icon" class="icon-section"></ion-icon> <br>
          <div id="name_section" class="name-section"></div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="div-bottom">
    <ion-grid fixed>
      <ion-row>
        <ion-col>
          <ion-card class="card-audio">
            <ion-card-content>
              <ion-list *ngIf="play_list.length">
                <ng-container *ngFor="let subSection of play_list; let i = index">
                  <ion-item-divider class="items-track">
                    <ion-button slot="start" (click)="goSection(subSection.id_seccion)">
                      <ion-icon [src]="this.subsection_icon"></ion-icon>
                    </ion-button>
                    <p>
                      <ion-text color="dark"> {{ subSection.nombre_seccion }} </ion-text>
                    </p>
                  </ion-item-divider>
                </ng-container>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>