ion-content {
  --background: #424242;
}
.div-top {
  background: linear-gradient(to right, #04c1cc, #29a6d1);
  height: 40vh;
  margin-bottom: -8vh;
  border: none !important;
  display: flex;
  text-align: center;
}
.div-top h1 {
  color: white;
  font-size: large;
  padding-bottom: 15px;
  vertical-align: top;
  height: 100%;
  margin-top: 10px !important;
  width: 80vh;
}
.back-button {
  --background: transparent !important;
  --border: none !important;
  --box-shadow: none !important;
  z-index: 2000;
}
.div-bottom {
  background: #424242;
  height: 50vh;
  border: none !important;
  border-top-color: transparent !important;
  border-top: none !important;
  border-radius: 50px 50px 0px 0px;
  display: flex;
  text-align: center;
}
.div-bottom ion-col {
  justify-content: center !important;
  display: flex;
  margin-bottom: 5vh;
}
.div-bottom ion-grid {
  margin-block-start: -7vh;
}
.card-audio {
  width: 90vw;
  border-radius: 10px;
  box-shadow: -5px 5px 10px #424242;
}
.btn-icon {
  --background: transparent !important;
  --border: none !important;
  --box-shadow: none !important;
  height: 100%;
  margin: 0 -5px;
}
.btn-icon ion-icon {
  color: var(--main-color);
  font-size: 56px;
}
.items-track {
  padding: 10px 0px;
  border-bottom: 2px solid;
  border-color: #cacaca;
}
.items-track ion-button {
  --background: var(--main-color);
  width: 56px;
  height: 56px;
}
.items-track ion-icon {
  color: white;
  fill: white;
  stroke: white;
  font-size: 56px;
  vertical-align: top;
}
.items-track p {
  text-align: justify;
}
.title-track {
  margin-bottom: 15px;
  text-align: center;
}
.icon-section {
  margin: 0 auto;
  text-align: center;
  font-size: calc(1em + 10vh);
  color: white;
}
.name-section {
  text-align: center;
  color: white;
}
