<ion-content>
  <div class="div-top">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" class="align-left">
          <ion-button class="back-button" (click)="goBack()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="align-center">
          <h1>Meditación</h1>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="div-bottom">
    <ion-grid fixed>
      <ion-row>
				<ion-col size="6">
          <ion-card class="card-left" (click)="goTo('iniciacion')">
            <ion-item class="item-menu">
              <ion-button>
                <ion-icon src="/assets/ICONS/icon-iniciacion.svg"></ion-icon>
              </ion-button>
            </ion-item>
            <ion-card-content>
              <ion-text color="dark"><b>Iniciación</b><br /> a la meditación</ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card class="card-right" (click)="goTo('reto_7_dias')">
            <ion-item class="item-menu">
              <ion-button>
                <ion-icon src="/assets/ICONS/icon-reto-7dias.svg"></ion-icon>
              </ion-button>
            </ion-item>
            <ion-card-content>
              <ion-text color="dark"><b>Reto de 7 días de meditación</b></ion-text><br /> <small>Reencontrándote con tus
                raíces</small>
            </ion-card-content>
          </ion-card>
        </ion-col>
        
      </ion-row>
      <ion-row class="card-bottom">
				<ion-col size="6">
          <ion-card class="card-left" (click)="goTo('triangulo')">
            <ion-item class="item-menu">
              <ion-button>
                <ion-icon src="/assets/ICONS/icon-triangulo-exito.svg"></ion-icon>
              </ion-button>
            </ion-item>
            <ion-card-content>
              <ion-text color="dark"><b>El triángulo <br />del éxito</b></ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card class="card-right" (click)="goTo('4meditacion')">
            <ion-item class="item-menu">
              <ion-button>
                <ion-icon src="/assets/ICONS/icon-4-meditaciones.svg"></ion-icon>
              </ion-button>
            </ion-item>
            <ion-card-content>
              <ion-text color="dark"><b>4 meditaciones</b> <br />para transformar tu vida</ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row class="card-bottom">
        <ion-col size="6">
          <ion-card class="card-left " (click)="goTo('ansiedad_estres')">
            <ion-item class="item-menu">
              <ion-button>
                <ion-icon src="/assets/ICONS/icon-ansiedad-estres.svg"></ion-icon>
              </ion-button>
            </ion-item>
            <ion-card-content>
              <ion-text color="dark"><b>Ansiedad, estrés y depresión</b></ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card class="card-right" (click)="goTo('salud_plena')">
            <ion-item class="item-menu">
              <ion-button>
                <ion-icon src="/assets/ICONS/icon-salud-plena.svg"></ion-icon>
              </ion-button>
            </ion-item>
            <ion-card-content>
              <ion-text color="dark"><b>Salud plena</b></ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row class="card-bottom">
        <ion-col size="6">
          <ion-card class="card-left" (click)="goTo('exito_realizacion')">
            <ion-item class="item-menu">
              <ion-button>
                <ion-icon src="/assets/ICONS/icon-exito-realizacion.svg"></ion-icon>
              </ion-button>
            </ion-item>
            <ion-card-content>
              <ion-text color="dark"><b>Éxito<br />y realización</b></ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card class="card-right" (click)="goTo('sueño_dia_perfecto')">
            <ion-item class="item-menu">
              <ion-button>
                <ion-icon src="/assets/ICONS/icon-suenho-dia-p.svg"></ion-icon>
              </ion-button>
            </ion-item>
            <ion-card-content>
              <ion-text color="dark"><b>Sueño<br />y día perfecto</b></ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>