<ion-content>
  <div class="div-top">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" class="align-left">
          <ion-button class="back-button" (click)="goBack()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="align-center">
          <h1>Meditación</h1>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="div-bottom">
    <ion-grid fixed>
      <ion-row>
				<ion-col size="6">
          <ion-card class="card-1 card-left" (click)="goTo('iniciacion')">
            <ion-card-content>
              <div><p>Iniciación a la <br /><b>meditación</b></p></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card class="card-2 card-right" (click)="goTo('reto_7_dias')">
            <ion-card-content>
              <div><p>Reto de 7 días de meditación</p></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        
      </ion-row>
      <ion-row class="card-bottom">
				<ion-col size="6">
          <ion-card class="card-3 card-left" (click)="goTo('triangulo')">
            <ion-card-content>
              <div><p>El triángulo <br />del éxito</p></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card class="card-4 card-right" (click)="goTo('4meditacion')">
            <ion-card-content>
              <div><p>4 meditaciones <br /><b>poderosas</b></p></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row class="card-bottom">
        <ion-col size="6">
          <ion-card class="card-5 card-left " (click)="goTo('ansiedad_estres')">
            <ion-card-content>
              <div><p>Ansiedad, estrés y depresión</p></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card class="card-6 card-right" (click)="goTo('salud_plena')">
            <ion-card-content>
              <div><p>Salud plena</p></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row class="card-bottom">
        <ion-col size="6">
          <ion-card class="card-7 card-left" (click)="goTo('exito_realizacion')">
            <ion-card-content>
              <div><p>Éxito<br />y realización</p></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card class="card-8 card-right" (click)="goTo('sueño_dia_perfecto')">
            <ion-card-content>
              <div><p>Sueño<br />y día perfecto</p></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>