.div-top {
	background: linear-gradient(to right, #04c1cc, #29a6d1);
  height: 30vh;
  border: none !important;
  display: flex;
  text-align: center;
	border-radius:  0px 0px 50px 50px;
}
.div-top h1 {
  color: white;
  vertical-align: top;
  margin-top: 5vh !important;
}
.back-button {
  --background: transparent !important;
  --border: none !important;
  --box-shadow: none !important;
  z-index: 2000;
}
ion-row {
  align-items: top;
}
.div-bottom {
  height: 65vh;
  border: none !important;
  border-top-color: transparent !important;
  border-top: none !important;
  display: flex;
  text-align: center;
}
.div-bottom ion-col {
  justify-content: center !important;
  display: flex;
  vertical-align: middle;
}
.div-bottom ion-grid {
  margin-block-start: -12vh;
}
.div-bottom ion-card {
  width: 85%;
  height: 75%;
  border-radius: 7px;
	box-shadow: 3px 3px 15px #302f2f;
}
.div-bottom ion-card ion-card-content {
  padding-top: 5px;
  margin-bottom: 15px;
  padding-left: -5px;
  padding-right: -5px;
  font-size: 12px;
	height: 20vh;
}
ion-card ion-card-content div {
  text-align: left;
  color: white;
  position: absolute;
	bottom: 15px;
}
ion-card ion-card-content div p {
  font-size: 0.9em !important;
}

.card-1 {
  --background: url("/assets/CATEGORIAS/hipnosis/transformando_lo_desconocido_en_conocido_y_lo_conocidoen_desconocido.png") no-repeat center center / cover;
  border-radius: 15px;
}
.card-2 {
  --background: url("/assets/CATEGORIAS/hipnosis/soy_necesario_(exito_total).png") no-repeat center center / cover;
  border-radius: 15px;
}
.card-3 {
  --background: url("/assets/CATEGORIAS/hipnosis/eliminando_la_ansiedad_de_comer.png") no-repeat center center / cover;
  border-radius: 15px;
}
.card-4 {
  --background: url("/assets/CATEGORIAS/hipnosis/dejar_de_fumar.png") no-repeat center center / cover;
  border-radius: 15px;
}
.card-5 {
  --background: url("/assets/CATEGORIAS/hipnosis/dependencia_sentimental.png") no-repeat center center / cover;
  border-radius: 15px;
}
.card-6 {
  --background: url("/assets/CATEGORIAS/hipnosis/miedo_al_rechazo.png") no-repeat center center / cover;
  border-radius: 15px;
}
.card-7 {
  --background: url("/assets/CATEGORIAS/hipnosis/haciendome_inmune_a_las_criticas.png") no-repeat center center / cover;
  border-radius: 15px;
}
.card-left {
  margin-right: -10px;
}
.card-right {
  margin-left: -10px;
}
.card-bottom ion-col {
  margin-top: -30px;
}
.item-menu {
  padding-top: 10px;
  text-align: center;
	--border-style: none !important;
}
.item-menu ion-button {
  --background: var(--main-color);
  --border-radius: 5px;
  padding-top: 5px;
  margin: 0 auto;
  width: 72px;
  height: 72px;
}
.item-menu ion-icon {
  color: white;
  font-size: 56px;
}

@media (-webkit-min-device-pixel-ratio: 0.75),
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 120dpi) {
  ion-content {
    --background: url("/assets/CATEGORIAS/hipnosis/background-ldpi/4.jpg") no-repeat center center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 1),
  (-webkit-min-device-pixel-ratio: 1.6666666666666667),
  (min-resolution: 160dpi) {
  ion-content {
    --background: url("/assets/CATEGORIAS/hipnosis/background-mdpi/4.jpg") no-repeat center center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 1.33),
  (-webkit-min-device-pixel-ratio: 2.21875),
  (min-resolution: 213dpi) {
  ion-content {
    --background: url("/assets/CATEGORIAS/hipnosis/background-tvdpi/4.jpg") no-repeat center center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5),
  (-webkit-min-device-pixel-ratio: 2.5),
  (min-resolution: 240dpi) {
  ion-content {
    --background: url("/assets/CATEGORIAS/hipnosis/background-hdpi/4.jpg") no-repeat center center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 3.3333333333333335),
  (min-resolution: 320dpi) {
  ion-content {
    --background: url("/assets/CATEGORIAS/hipnosis/background-xhdpi/4.jpg") no-repeat center center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 3),
  (-webkit-min-device-pixel-ratio: 5),
  (min-resolution: 480dpi) {
  ion-content {
    --background: url("/assets/CATEGORIAS/hipnosis/background-xxhdpi/4.jpg") no-repeat center center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 4),
  (-webkit-min-device-pixel-ratio: 6.666666666666667),
  (min-resolution: 640dpi) {
  ion-content {
    --background: url("/assets/CATEGORIAS/hipnosis/background-xxxhdpi/4.jpg") no-repeat center center / cover;
  }
}
