<ion-content>
  <div class="div-top">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" class="align-left">
          <ion-button class="back-button" (click)="goBack()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="align-center">
          <h1>Hipnósis</h1>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="div-bottom">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <ion-card class="card-1" (click)="goTo('transformando')">
            <ion-card-content>
              <div><p>Transformando lo desconocido en conocido y lo conocido en desconocido</p></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row class="card-bottom">
        <ion-col size="6">
          <ion-card class="card-2 card-left" (click)="goTo('soy_necesario')">
            <ion-card-content>
              <div><p>Soy necesario <br /><b>(éxito total)</b></p></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card class="card-3 card-right" (click)="goTo('eliminando_ansiedad')">
            <ion-card-content>
              <div><p>Eliminando la ansiedad<br> de comer</p></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row class="card-bottom">
        <ion-col size="6">
          <ion-card class="card-4 card-left " (click)="goTo('dejando_fumar')">
            <ion-card-content>
              <div><p>Dejar de fumar<br />&nbsp;</p></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card class="card-5 card-right" (click)="goTo('dependencia')">
            <ion-card-content>
              <div><p>Dependencia <br>sentimental</p></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row class="card-bottom">
        <ion-col size="6">
          <ion-card class="card-6 card-left" (click)="goTo('miedo')">
            <ion-card-content>
              <div><p>Miedo al rechazo<br />&nbsp;</p></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card class="card-7 card-right" (click)="goTo('inmune')">
            <ion-card-content>
              <div><p>Haciéndome inmune <br />a las críticas</p></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>