<ion-content>
  <div class="div-top">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" class="align-left">
          <ion-button class="back-button" (click)="goBack()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="align-center">
          <h1>Hipnósis</h1>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="div-bottom">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <ion-card (click)="goTo('transformando')">
            <ion-item class="item-menu">
              <ion-button>
                <ion-icon src="/assets/ICONS/icon-transforma.svg"></ion-icon>
              </ion-button>
            </ion-item>
            <ion-card-content>
              <ion-text color="dark"><b>Transformando lo desconocido en conocido y lo conocido en desconocido</b>
              </ion-text><br />
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row class="card-bottom">
        <ion-col size="6">
          <ion-card class="card-left" (click)="goTo('soy_necesario')">
            <ion-item class="item-menu">
              <ion-button>
                <ion-icon src="/assets/ICONS/icon-soy-necesario.svg"></ion-icon>
              </ion-button>
            </ion-item>
            <ion-card-content>
              <ion-text color="dark"><b>Soy necesario <br />(éxito total)</b></ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card class="card-right" (click)="goTo('eliminando_ansiedad')">
            <ion-item class="item-menu">
              <ion-button>
                <ion-icon src="/assets/ICONS/icon-eliminando-ansiedad.svg"></ion-icon>
              </ion-button>
            </ion-item>
            <ion-card-content>
              <ion-text color="dark"><b>Eliminando la ansiedad de comer</b></ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row class="card-bottom">
        <ion-col size="6">
          <ion-card class="card-left " (click)="goTo('dejando_fumar')">
            <ion-item class="item-menu">
              <ion-button>
                <ion-icon src="/assets/ICONS/icon-no-fumar.svg"></ion-icon>
              </ion-button>
            </ion-item>
            <ion-card-content>
              <ion-text color="dark"><b>Dejar de fumar</b></ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card class="card-right" (click)="goTo('dependencia')">
            <ion-item class="item-menu">
              <ion-button>
                <ion-icon src="/assets/ICONS/icon-dependencia.svg"></ion-icon>
              </ion-button>
            </ion-item>
            <ion-card-content>
              <ion-text color="dark"><b>Dependencia sentimental</b></ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row class="card-bottom">
        <ion-col size="6">
          <ion-card class="card-left" (click)="goTo('miedo')">
            <ion-item class="item-menu">
              <ion-button>
                <ion-icon src="/assets/ICONS/icon-miedo.svg"></ion-icon>
              </ion-button>
            </ion-item>
            <ion-card-content>
              <ion-text color="dark"><b>Miedo al rechazo</b></ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card class="card-right" (click)="goTo('inmune')">
            <ion-item class="item-menu">
              <ion-button>
                <ion-icon src="/assets/ICONS/icon-inmune.svg"></ion-icon>
              </ion-button>
            </ion-item>
            <ion-card-content>
              <ion-text color="dark"><b>Haciéndome inmune a las críticas</b></ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>