.div-top {
  background: linear-gradient(to right, #04c1cc, #29a6d1);
  text-align: center;
	height: 30%;
  margin-bottom: -25%;
  border: none !important;
  border-bottom-color: transparent !important;
  border-bottom: none !important;
  border-radius: 0px 0px 40px 40px;
  display: flex;
}
.div-top h1 {
  color: white;
  font-size: large;
  padding-bottom: 15px;
  vertical-align: top;
  height: 100%;
  margin-top: 10px !important;
  width: 80vh;
}
.back-button {
  --background: transparent !important;
  --border: none !important;
  --box-shadow: none !important;
  z-index: 2000;
}
.div-bottom {
	padding-top: 8vh;
}

.div-bottom ion-col {
  justify-content: center;
}
.card-note {
	margin: 1em auto;
  width: 85vw;
  border-radius: 10px;
  box-shadow: -5px 5px 10px #424242;

	ion-card-header {
		text-align: left;
		padding: 0.8em 1em 0.4em 1em;
		ion-card-subtitle{
			font-weight: bold !important;
		}
	}
	ion-card-content{
		text-align: left;
		padding: 0 1em 0.5em 1em; 
	}
}
.btn-icon {
  --background: transparent !important;
  --border: none !important;
  --box-shadow: none !important;
  height: 100%;
  margin: 0 -5px;
}

.icon-section {
  margin: 0 auto;
  text-align: center;
  font-size: calc(1em + 10vh);
  color: white;
  stroke: white;
}
.name-section {
  text-align: center;
  color: white;
}

ion-fab-button {
  margin-bottom: 10px;
  ion-icon {
    font-size: 3em;
    color: white;
  }
  
}

@media (-webkit-min-device-pixel-ratio: 0.75),
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 120dpi) {
  ion-content {
    --background: url("/assets/MIDIARIO/background-ldpi/1.jpg") no-repeat center
      center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 1),
  (-webkit-min-device-pixel-ratio: 1.6666666666666667),
  (min-resolution: 160dpi) {
  ion-content {
    --background: url("/assets/MIDIARIO/background-mdpi/1.jpg") no-repeat center
      center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 1.33),
  (-webkit-min-device-pixel-ratio: 2.21875),
  (min-resolution: 213dpi) {
  ion-content {
    --background: url("/assets/MIDIARIO/background-tvdpi/1.jpg") no-repeat center
      center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5),
  (-webkit-min-device-pixel-ratio: 2.5),
  (min-resolution: 240dpi) {
  ion-content {
    --background: url("/assets/MIDIARIO/background-hdpi/1.jpg") no-repeat center
      center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 3.3333333333333335),
  (min-resolution: 320dpi) {
  ion-content {
    --background: url("/assets/MIDIARIO/background-xhdpi/1.jpg") no-repeat center
      center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 3),
  (-webkit-min-device-pixel-ratio: 5),
  (min-resolution: 480dpi) {
  ion-content {
    --background: url("/assets/MIDIARIO/background-xxhdpi/1.jpg") no-repeat center
      center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 4),
  (-webkit-min-device-pixel-ratio: 6.666666666666667),
  (min-resolution: 640dpi) {
  ion-content {
    --background: url("/assets/MIDIARIO/background-xxxhdpi/1.jpg") no-repeat
      center center / cover;
  }
}