<ion-content>
  <ion-tabs (ionTabsWillChange)="tabChange($event)">
    <ion-tab-bar slot="bottom"  [class]="tab_bar_bck">
			<ion-tab-button (click)="onClick('parati')" class="pl-5vw">
				<ion-icon id="item1" src="/assets/ICONS/tab-bar-buttons/icono_parati.svg" 
					[ngClass]="activeParatTi ? 'icn_clicked' : 'icn_normal' "> </ion-icon>
			</ion-tab-button>
			<ion-tab-button (click)="onClick('categorias')" class="pl-2vw">
				<ion-icon id="item2" src="/assets/ICONS/tab-bar-buttons/icono_categorias.svg"
					[ngClass]="activeCategorias ? 'icn_clicked' : 'icn_normal' "></ion-icon>
			</ion-tab-button>
			<ion-tab-button (click)="onClick('musica')" class="pl-1vw">
				<ion-icon id="item3" src="/assets/ICONS/tab-bar-buttons/icono_musica.svg" 
					[ngClass]="activeMusica ? 'icn_clicked' : 'icn_normal' "> </ion-icon>
			</ion-tab-button>
			<ion-tab-button (click)="onClick('midiario')" class="pl-2vw">
				<ion-icon id="item4" src="/assets/ICONS/tab-bar-buttons/icono_midiario.svg" 
					[ngClass]="activeDiario ? 'icn_clicked' : 'icn_normal'"> </ion-icon>
			</ion-tab-button>
			<ion-tab-button (click)="onClick('informacion')" class="pl-2vw">
				<ion-icon id="item5" src="/assets/ICONS/tab-bar-buttons/icono_soporte.svg" 
					[ngClass]="activeInfo ? 'icn_clicked' : 'icn_normal' "> </ion-icon>
			</ion-tab-button>
			<ion-tab-button (click)="onClick('configuracion')" class="pr-5vw">
				<ion-icon id="item6" src="/assets/ICONS/tab-bar-buttons/icono_configuracion.svg" 
					[ngClass]="activeConfig ? 'icn_clicked' : 'icn_normal' "> </ion-icon>
			</ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>