ion-avatar {
  width: 100%;
  height: auto;
}
.icn_clicked {
  font-size: calc(1em + 5vw);
	margin-bottom: -5px;
}
.icn_normal {
   font-size: calc(1em + 3vw);
	margin-bottom: -20px;
}
.pl-5vw{
	padding-left: 5vw;
}
.pr-5vw{
	padding-right: 5vw;
}
.pl-1vw{
	padding-left: 1vw;
}
.pl-2vw{
	padding-left: 2vw;
}
.pl-3vw{
	padding-left: 3vw;
}
ion-tab-bar {
	contain: none;
	margin-top: -25pt;
	--background: url("/assets/ICONS/tab-bar-buttons/tab-01.svg") no-repeat center bottom / cover; 
	background-size: 100vw;
	border-color: transparent !important;
}
ion-tab-button {
	background: none;
}
.tab-bar-img1 {
	--background: url("/assets/ICONS/tab-bar-buttons/tab-01.svg") no-repeat center bottom / cover; 
}
.tab-bar-img2 {
	--background: url("/assets/ICONS/tab-bar-buttons/tab-02.svg") no-repeat center bottom / cover; 
}
.tab-bar-img3 {
	--background: url("/assets/ICONS/tab-bar-buttons/tab-03.svg") no-repeat center bottom / cover; 
}
.tab-bar-img4 {
	--background: url("/assets/ICONS/tab-bar-buttons/tab-04.svg") no-repeat center bottom / cover; 
}
.tab-bar-img5 {
	--background: url("/assets/ICONS/tab-bar-buttons/tab-05.svg") no-repeat center bottom / cover; 
}
.tab-bar-img6 {
	--background: url("/assets/ICONS/tab-bar-buttons/tab-06.svg") no-repeat center bottom / cover; 
}