.div-top {
  background: linear-gradient(to right, #04c1cc, #29a6d1);
  height: 30vh;
  border: none !important;
  display: flex;
  text-align: center;
	border-radius:  0px 0px 50px 50px;
}
.div-top h1 {
  color: white;
  vertical-align: top;
  margin-top: 10px !important;
}
.back-button {
  --background: transparent !important;
  --border: none !important;
  --box-shadow: none !important;
  z-index: 2000;
}
iframe {
  width: 80vw;
	height:45vw;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #424242;
}
ion-row {
  align-items: top;
}
.div-bottom {
  height: 62vh;
  border: none !important;
  border-top-color: transparent !important;
  border-top: none !important;
  display: flex;
  text-align: center;
}
.div-bottom ion-col {
  justify-content: center !important;
  display: flex;
  vertical-align: middle;
}
.div-bottom ion-grid {
  margin-block-start: -8vh;
}
.div-bottom ion-card {
  width: 80%;
  height: 80%;
  border-radius: 7px;
}
.card-left {
  margin-right: -20px;
}
.card-right {
  margin-left: -20px;
}
.card-bottom ion-col {
  margin-top: -20px;
}
ion-card {
	box-shadow: 3px 3px 15px #302f2f;
}
ion-card ion-card-content {
  height: 24vh;
  position: relative;
}
ion-card ion-card-content div {
  text-align: left;
  color: white;
  position: absolute;
	bottom: 4vh;
}
ion-card ion-card-content div p {
  font-size: 0.9em !important;
}
.card-1 {
  --background: url("/assets/CATEGORIAS/ansiedad/Audios-semanales.png") no-repeat center center / cover;
  border-radius: 15px;
}
.card-2 {
  --background: url("/assets/CATEGORIAS/ansiedad/Meditacion-guiada.png") no-repeat center center / cover;
  border-radius: 15px;
}
.card-3 {
  --background: url("/assets/CATEGORIAS/ansiedad/TLA.png") no-repeat center center / cover;
  border-radius: 15px;
}
.card-4 {
  --background: url("/assets/CATEGORIAS/ansiedad/Ejercicios-corporales.png") no-repeat center center / cover;
  border-radius: 15px;
}
.item-menu {
  padding-top: 10px;
  text-align: center;
	--border-style: none !important;
}
.item-menu ion-button {
  padding-top: 5px;
  margin: 0 auto;
  --background: var(--main-color);
  width: 72px;
  height: 72px;
  --border-radius: 5px;
}
.item-menu ion-icon {
  color: white;
  font-size: 56px;
}

@media (-webkit-min-device-pixel-ratio: 0.75),
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 120dpi) {
  ion-content {
    --background: url("/assets/CATEGORIAS/ansiedad/background-ldpi/0.jpg") no-repeat center center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 1),
  (-webkit-min-device-pixel-ratio: 1.6666666666666667),
  (min-resolution: 160dpi) {
  ion-content {
    --background: url("/assets/CATEGORIAS/ansiedad/background-mdpi/0.jpg") no-repeat center center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 1.33),
  (-webkit-min-device-pixel-ratio: 2.21875),
  (min-resolution: 213dpi) {
  ion-content {
    --background: url("/assets/CATEGORIAS/ansiedad/background-tvdpi/0.jpg") no-repeat center center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5),
  (-webkit-min-device-pixel-ratio: 2.5),
  (min-resolution: 240dpi) {
  ion-content {
    --background: url("/assets/CATEGORIAS/ansiedad/background-hdpi/0.jpg") no-repeat center center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 3.3333333333333335),
  (min-resolution: 320dpi) {
  ion-content {
    --background: url("/assets/CATEGORIAS/ansiedad/background-xhdpi/0.jpg") no-repeat center center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 3),
  (-webkit-min-device-pixel-ratio: 5),
  (min-resolution: 480dpi) {
  ion-content {
    --background: url("/assets/CATEGORIAS/ansiedad/background-xxhdpi/0.jpg") no-repeat center center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 4),
  (-webkit-min-device-pixel-ratio: 6.666666666666667),
  (min-resolution: 640dpi) {
  ion-content {
    --background: url("/assets/CATEGORIAS/ansiedad/background-xxxhdpi/0.jpg") no-repeat center center / cover;
  }
}
