ion-content {
  --background: #424242;
}
.div-top {
  background: linear-gradient(to right, #04c1cc, #29a6d1);
  height: 70%;
  margin-bottom: -30%;
  border: none !important;
  display: flex;
  text-align: center;
}
.div-top h1 {
  color: white;
  font-size: large;
  padding-bottom: 15px;
  vertical-align: top;
  height: 100%;
  margin-top: 10px !important;
  width: 80%;
}
.back-button {
  --background: transparent !important;
  --border: none !important;
  --box-shadow: none !important;
  z-index: 2000;
}
iframe {
  width: 70%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #424242;
}
ion-row {
  align-items: top;
}
.div-bottom {
  background: #424242;
  height: 40%;
  border: none !important;
  border-top-color: transparent !important;
  border-top: none !important;
  border-radius: 50px 50px 0px 0px;
  display: flex;
  text-align: center;
}
.div-bottom ion-col {
  justify-content: center !important;
  display: flex;
  vertical-align: middle;
}
.div-bottom ion-grid {
  margin-block-start: -10%;
}
.div-bottom ion-card {
  width: 70%;
  height: 75%;
  border-radius: 7px;
}
.div-bottom ion-card ion-card-content {
  padding-top: 5px;
  margin-bottom: 15px;
}
.card-left {
  margin-right: -20px;
}
.card-right {
  margin-left: -20px;
}
.card-bottom ion-col {
  margin-top: -20px;
}
.item-menu {
  padding-top: 10px;
  text-align: center;
	--border-style: none !important;
}
.item-menu ion-button {
  padding-top: 5px;
  margin: 0 auto;
  --background: var(--main-color);
  width: 72px;
  height: 72px;
  --border-radius: 5px;
}
.item-menu ion-icon {
  color: white;
  font-size: 56px;
}
