.div-header {
  background: linear-gradient(to right, #04c1cc, #29a6d1);
  height: 30%;
  margin-bottom: -25%;
  border: none !important;
  border-bottom-color: transparent !important;
  border-bottom: none !important;
  border-radius: 0px 0px 40px 40px;
  display: flex;
}
.div-header h1 {
  justify-content: center !important;
  text-align: center;
  padding-top: 17%;
  color: white;
  width: 100%;
}

ion-item {
  --ion-background-color: white !important;
  margin: 0 0 5% 0;
}

.grid-central {
	padding: 8vh 4vw;
  width: 55vw;
}
.row-titulo {
  height: 20vh;
}
.row-titulo h1 {
  padding-top: 1vh;
  color: var(--main-color);
  width: 100%;
}
ion-card {
  --background: #252525de;
  border-color: var(--main-color);
  border-width: 0.1em;
  border-style: solid;
  border-radius: 20px;
}
ion-card ion-card-content {
  height: 12vh;
  --background: none !important;
  text-align: center;
}
ion-card ion-card-content ion-icon {
  font-size: 20vw;
}
ion-card ion-card-title {
  height: 6vh;
  color: white;
  text-align: center;
  font-size: 0.9em;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
ion-card ion-card-title ion-text {
  margin: 0 auto;
}

@media (-webkit-min-device-pixel-ratio: 0.75),
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 120dpi) {
  ion-content {
    --background: url("/assets/MIDIARIO/background-ldpi/1.jpg") no-repeat center
      center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 1),
  (-webkit-min-device-pixel-ratio: 1.6666666666666667),
  (min-resolution: 160dpi) {
  ion-content {
    --background: url("/assets/MIDIARIO/background-mdpi/1.jpg") no-repeat center
      center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 1.33),
  (-webkit-min-device-pixel-ratio: 2.21875),
  (min-resolution: 213dpi) {
  ion-content {
    --background: url("/assets/MIDIARIO/background-tvdpi/1.jpg") no-repeat center
      center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5),
  (-webkit-min-device-pixel-ratio: 2.5),
  (min-resolution: 240dpi) {
  ion-content {
    --background: url("/assets/MIDIARIO/background-hdpi/1.jpg") no-repeat center
      center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 3.3333333333333335),
  (min-resolution: 320dpi) {
  ion-content {
    --background: url("/assets/MIDIARIO/background-xhdpi/1.jpg") no-repeat center
      center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 3),
  (-webkit-min-device-pixel-ratio: 5),
  (min-resolution: 480dpi) {
  ion-content {
    --background: url("/assets/MIDIARIO/background-xxhdpi/1.jpg") no-repeat center
      center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 4),
  (-webkit-min-device-pixel-ratio: 6.666666666666667),
  (min-resolution: 640dpi) {
  ion-content {
    --background: url("/assets/MIDIARIO/background-xxxhdpi/1.jpg") no-repeat
      center center / cover;
  }
}
