<ion-content>
  <div class="div-top">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
					<ion-icon name="settings-outline" class="icon-section"></ion-icon><br>
          <div id="name_section" class="name-section">Configuración</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="div-bottom">
    <ion-grid class="grid-central">
        <ion-row class="row-avatar">
            <ion-col class="align-center">
                <div class="content-camera">
                    <div class="content-photo">
                        <img id="profilePic" class="img-perfil" [src]="photoService.photos.webviewPath">
                    </div>
                    <ion-fab-button (click)="presentAlertConfirm()" size="small" class="ionfab" color="secondary">
                        <ion-icon name="camera"></ion-icon>
                    </ion-fab-button>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
					<ion-col>
            <form [formGroup]="frm_usuario" (ngSubmit)="guardarDatos()">
            <ion-item lines="none" class="style-transparent">
                <ion-label class="custom-ion-label" position="stacked">Nombre y Apellido</ion-label>
                <ion-input formControlName="nombre_apellido" class="custom-ion-input" type="text" required></ion-input>
            </ion-item>
            <ion-label class="lbl_danger"  *ngIf="frm_usuario.get('nombre_apellido').errors && frm_usuario.get('nombre_apellido').touched">* El nombre es obligatorio </ion-label>
            
            <ion-item lines="none" class="style-transparent">
                <ion-label class="custom-ion-label" position="stacked">Pais</ion-label>
                <ion-select formControlName="pais" name="pais" class="custom-ion-select" placeholder="Seleccione" cancelText="Cancelar" interface="popover">
                  <ion-select-option *ngFor="let obj_pais of paises" [value]="obj_pais.code"  >{{obj_pais.name}}</ion-select-option>  
                </ion-select>
            </ion-item>
            <ion-label class="lbl_danger" *ngIf="frm_usuario.get('pais').errors?.required && (frm_usuario.get('pais').touched)">* El pais es obligatoria </ion-label>
            
						<ion-item lines="none" class="style-transparent">
							<ion-label class="custom-ion-label" position="stacked">Plan</ion-label>
							<ion-select formControlName="plan" name="plan" class="custom-ion-select" placeholder="Seleccione" cancelText="Cancelar" interface="popover">
								<ion-select-option *ngFor="let plan of planes" [value]="plan.id">{{plan.name + " - " + plan.precio}}</ion-select-option>  
							</ion-select>
						</ion-item>
						<ion-label class="lbl_danger" *ngIf="frm_usuario.get('plan').errors?.required && (frm_usuario.get('plan').touched)">* El plan es obligatoria </ion-label>
            
            <ion-item lines="none" class="style-transparent">
                <ion-label class="custom-ion-label" position="stacked">Corte de factura</ion-label>
                <ion-input formControlName="periodo_corte" class="custom-ion-input" type="text" readonly></ion-input>
            </ion-item>
                        
            <!-- Botones -->
            <ion-row class="row-button">
							<ion-col class="align-center">
								<ion-button type="submit" [disabled]="frm_usuario.invalid" shape="round" color="principal" class="btn-turquesa lbl-sentence-style">
										Guardar</ion-button>
							</ion-col>
            </ion-row>
        </form>
        </ion-col>
        </ion-row>
    </ion-grid>
  </div>
</ion-content>