ion-content {
  --background: #424242;
}
.div-top {
  background: linear-gradient(to right, #04c1cc, #29a6d1);
  height: 40vh;
  margin-bottom: -10vh;
  border: none !important;
  display: flex;
  text-align: center;
	ion-grid {
		padding-top: 7vh !important;
	}
}
.back-button {
  --background: transparent !important;
  --border: none !important;
  --box-shadow: none !important;
  z-index: 2000;
}
.div-bottom {
  background: #424242;
  height: 50vh;
  border: none !important;
  border-top-color: transparent !important;
  border-top: none !important;
  border-radius: 75px 75px 0px 0px;
  display: flex;
  text-align: center;
}
.div-bottom ion-grid {
  margin-block-start: -12vh;
}
.icon-section {
  margin: 0 auto;
  text-align: center;
  font-size: calc(1em + 5vh);
  color: white;
}
.name-section {
  text-align: center;
  color: white;
	font-size: 1.5em;
}
.grid-central{
	width: 70vw !important;
	align-items: center !important;
	padding: 0 10vw;
}
.row-titulo{
	height:100% !important;
	width: 100% !important;
	margin: 20% 0 5% 0 !important;
}
.row-titulo .titulo-img{
	width: 80%;
	height: 80%;
	min-width: 80%;
	min-height: 80%;
}
.row-avatar{
	margin-bottom: 5vh;
	// height:100% !important;
	// width: 100% !important;
}
.content-camera {
	position: relative;
	// display: block;
	
}
.content-photo{
	border: 1px solid var(--main-color)  !important;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: relative; 
	left: 0px; 
	top: 0;
}
.ionfab{
	position: absolute; 
	left: 60px; 
	top: 55px;
}

.img-perfil {
	border: 1px solid var(--main-color)  !important;
	width: 100px !important;
	height: 100px !important;
	border-radius: 50px !important;
}

.style-transparent{
	--ion-background-color: transparent !important;
}
.custom-ion-input  {
	width: 100%;
	border-bottom: 1px solid var(--main-color) !important;
	color: var(--main-color);
}
.custom-ion-datetime {
	width: 100%;
	border-bottom: 1px solid var(--main-color) !important;
	background-color: transparent !important;
	color: var(--main-color);
}
.custom-select-opcion,  .custom-ion-select{
	background-color: transparent !important;
	color: var(--main-color);
}
.custom-ion-label{
	color: white !important;
	opacity: .255;
}
.btn-turquesa{
	color: black !important;
	background-color: var(--main-color) !important;
	border-radius: 60px;
	border: 2px solid var(--main-color);
	// margin-top: 10%;
	text-transform: none;
}
.row-button{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80%;
	margin-top: 10%;
}
a {
	color: white !important;
	text-decoration: none;
}
.lbl_danger{
	margin-left: 10% !important;
	color: #eb445a;
	font-size: smaller;
}
.my-checkbox {
	display: flex;
	align-items: center;
}
.my-alert {
	--background: var(--ion-color-principal);
}

.alert-btn-camera {
	background: green !important;
	color: black;
}
.alert-btn-gallery{
	background: red !important;
	color: black;
}