ion-content {
  --background: #424242;
}
.div-top {
  background: linear-gradient(to right, #04c1cc, #29a6d1);
  height: 70vh;
  border: none !important;
	border-bottom-color: transparent !important;
  border-bottom: none !important;
	border-radius: 0px 0px 40px 40px;
  display: flex;
  text-align: center;
}
.row-id-section{
  margin-top: -3vh;
}
.back-button {
  --background: transparent !important;
  --border: none !important;
  --box-shadow: none !important;
  z-index: 2000;
}
.div-bottom {
  background: #424242;
  border: none !important;
  display: flex;
  text-align: center;
}
.btn-icon {
  --background: transparent !important;
  --border: none !important;
  --box-shadow: none !important;
  height: 100%;
  margin: 0 -5px;
}
.icon-section {
  margin: 0 auto;
  text-align: center; 
  font-size: calc(1em + 10vh);
  color: white;
	// fill: white;
  stroke: white;
}
.name-section {
  text-align: center;
  color: white;
}
.separador {
  border-bottom: 0.1em solid #8a8181;
  width: 80vw;
}
.card-list {
	margin: 1em auto;
  width: 90vw;
  border-radius: 10px;

	ion-card-header {
		text-align: left;
		padding: 0.8em 1em 0.4em 1em;
		ion-card-subtitle{
			font-weight: bold !important;
		}
	}
	ion-card-content{
		text-align: justify;
		padding: 0 1em 0.5em 1em; 
	}
}

.ion-padding-col {
  padding: 2vh 0 0 5vw;
}

.ionfab{
	position: absolute; 
	right: 5px;
	ion-icon {
    font-size: 3em;
    color: white;
  }
}



