ion-content {
  --background: #424242;
}
.div-top {
  background: linear-gradient(to right, #04c1cc, #29a6d1);
  height: 40vh;
  margin-bottom: -8vh;
  border: none !important;
  display: flex;
  text-align: center;
	ion-grid {
		padding-top: 7vh !important;
	}
}

.back-button {
  --background: transparent !important;
  --border: none !important;
  --box-shadow: none !important;
  z-index: 2000;
}
.div-bottom {
  background: #424242;
  height: 50vh;
  border: none !important;
  border-top-color: transparent !important;
  border-top: none !important;
  border-radius: 50px 50px 0px 0px;
  display: flex;
  text-align: center;
}
.div-bottom ion-grid {
  padding-top: 10vh;
}

.div-bottom ion-col {
  justify-content: center;
}
.card-note {
	margin: 1em auto;
  width: 85vw;
  border-radius: 10px;
  box-shadow: -5px 5px 10px #424242;

	ion-card-header {
		text-align: left;
		padding: 0.8em 1em 0.4em 1em;
		ion-card-subtitle{
			font-weight: bold !important;
		}
	}
	ion-card-content{
		text-align: left;
		padding: 0 1em 0.5em 1em; 
	}
}
.btn-icon {
  --background: transparent !important;
  --border: none !important;
  --box-shadow: none !important;
  height: 100%;
  margin: 0 -5px;
}

.icon-section {
  margin: 0 auto;
  text-align: center;
  font-size: calc(1em + 5vh);
  color: white;
	// fill: white;
  // stroke: white;
}
.name-section {
  text-align: center;
  color: white;
	font-size: 1.5em;
}
