<ion-content>
  <div class="div-top">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
					<ion-icon src="/assets/ICONS/iconos_soporte_out.svg" class="icon-section"></ion-icon><br>
          <div id="name_section" class="name-section">Soporte</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="div-bottom">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
					<ion-card class="card-note">
						<ion-card-header>
							<ion-card-title>Serendipia</ion-card-title>
						</ion-card-header>
						<ion-card-content>
							<ion-text color="dark">Versión: {{ app_version }}</ion-text><br><br>
							<ion-text color="dark">Paquete: {{ pack_name }}</ion-text><br>
						</ion-card-content>
					</ion-card>
        </ion-col>
      </ion-row>
			<ion-row>
        <ion-col size="12" class="logo">
					<ion-img src="/assets/LOGO/logo2.png"></ion-img>
        </ion-col>
      </ion-row>
			<ion-row>
				<ion-col>
					<ion-button [href]="url_politicas" target="_blank" class="btn-sitio">Política de privacidad ></ion-button><br />
					<ion-button [href]="url_terminos" target="_blank" class="btn-sitio">Términos y condiciones ></ion-button><br />
					<ion-button [href]="url_metodo" target="_blank" class="btn-sitio">Nuestro Método ></ion-button>
				</ion-col>
			</ion-row>
    </ion-grid>
  </div>