<ion-content>
  <div class="div-header">
    <h1>Categorías</h1>
  </div>
  <ion-grid fixed="true">
    <ion-row>
      <ion-col>
        <ion-card type="button" class="ion-card-ansiedad" (click)="goTo('ansiedad')">
          <ion-card-content></ion-card-content>
          <ion-card-title>ANSIEDAD</ion-card-title>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card type="button" class="ion-card-meditacion" (click)="goTo('meditacion')">
          <ion-card-content></ion-card-content>
          <ion-card-title>MEDITACIÓN</ion-card-title>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card type="button" class="ion-card-hipnosis" (click)="goTo('hipnosis')">
          <ion-card-content></ion-card-content>
          <ion-card-title>HIPNOSIS</ion-card-title>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>