.div-header {
  background: linear-gradient(to right, #04c1cc, #29a6d1);
  height: 30%;
  margin-bottom: -7vh;
  border: none !important;
  border-bottom-color: transparent !important;
  border-bottom: none !important;
  border-radius: 0px 0px 40px 40px;
  display: flex;
}
.div-header h1 {
  justify-content: center !important;
  text-align: center;
  padding-top: 17%;
  color: white;
  width: 100%;
}
.ion-card-1 {
  --background: url("/assets/MUSICA/concentracion.png") no-repeat center center / cover;
  border-radius: 15px;
}
.ion-card-2 {
  --background: url("/assets/MUSICA/encuentra_el_sueño.png") no-repeat center center / cover;
  border-radius: 15px;
}
.ion-card-3 {
  --background: url("/assets/MUSICA/naturaleza.png") no-repeat center center / cover;
  border-radius: 15px;
}
.ion-card-4 {
  --background: url("/assets/MUSICA/relajante.png") no-repeat center center / cover;
  border-radius: 15px;
}
.ion-card-5 {
  --background: url("/assets/MUSICA/soñar_despierto.png") no-repeat center center / cover;
  border-radius: 15px;
}
.ion-card-6 {
  --background: url("/assets/MUSICA/trabajo.png") no-repeat center center / cover;
  border-radius: 15px;
}
ion-card ion-card-content {
  height: 15vh;
}
ion-card ion-card-title {
	padding-top: 0.5em;
  height: 4vh;
  background-color: transparent;
  color: white;
  text-align: left;
  font-size: 1.1em;
  display: flex;
  // align-items: left;
}
ion-card ion-card-title ion-text {
  	margin: 0 10px;
}
ion-grid {
  width: 90vw;
}

@media (-webkit-min-device-pixel-ratio: 0.75),
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 120dpi) {
  ion-content {
    --background: url("/assets/MUSICA/background-ldpi/1.jpg") no-repeat center
      center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 1),
  (-webkit-min-device-pixel-ratio: 1.6666666666666667),
  (min-resolution: 160dpi) {
  ion-content {
    --background: url("/assets/MUSICA/background-mdpi/1.jpg") no-repeat center
      center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 1.33),
  (-webkit-min-device-pixel-ratio: 2.21875),
  (min-resolution: 213dpi) {
  ion-content {
    --background: url("/assets/MUSICA/background-tvdpi/1.jpg") no-repeat center
      center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5),
  (-webkit-min-device-pixel-ratio: 2.5),
  (min-resolution: 240dpi) {
  ion-content {
    --background: url("/assets/MUSICA/background-hdpi/1.jpg") no-repeat center
      center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 3.3333333333333335),
  (min-resolution: 320dpi) {
  ion-content {
    --background: url("/assets/MUSICA/background-xhdpi/1.jpg") no-repeat center
      center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 3),
  (-webkit-min-device-pixel-ratio: 5),
  (min-resolution: 480dpi) {
  ion-content {
    --background: url("/assets/MUSICA/background-xxhdpi/1.jpg") no-repeat center
      center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 4),
  (-webkit-min-device-pixel-ratio: 6.666666666666667),
  (min-resolution: 640dpi) {
  ion-content {
    --background: url("/assets/MUSICA/background-xxxhdpi/1.jpg") no-repeat center
      center / cover;
  }
}
