<ion-content>
  <div class="div-header">
    <h1>Música</h1>
  </div>
  <ion-grid fixed="true">
    <ion-row>
      <ion-col size="12">
        <ion-card type="button" class="ion-card-1" (click)="goTo('concentracion')">
          <ion-card-content></ion-card-content>
          <ion-card-title>
            <ion-text>Concentración</ion-text>
          </ion-card-title>
        </ion-card>
      </ion-col>
		</ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card type="button" class="ion-card-2" (click)="goTo('sueño')">
          <ion-card-content></ion-card-content>
          <ion-card-title>
            <ion-text>Encuentra el Sueño</ion-text>
          </ion-card-title>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card type="button" class="ion-card-3" (click)="goTo('naturaleza')">
          <ion-card-content></ion-card-content>
          <ion-card-title>
            <ion-text>Naturaleza</ion-text>
          </ion-card-title>
        </ion-card>
      </ion-col>
		</ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card type="button" class="ion-card-4" (click)="goTo('relajante')">
          <ion-card-content></ion-card-content>
          <ion-card-title>
            <ion-text>Relajante</ion-text>
          </ion-card-title>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card type="button" class="ion-card-5" (click)="goTo('soñar_despierto')">
          <ion-card-content></ion-card-content>
          <ion-card-title>
            <ion-text>Soñar Despierto</ion-text>
          </ion-card-title>
        </ion-card>
      </ion-col>
		</ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card type="button" class="ion-card-4" (click)="goTo('trabajo')">
          <ion-card-content></ion-card-content>
          <ion-card-title>
            <ion-text>Trabajo</ion-text>
          </ion-card-title>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>