/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Particular style rules for the app */

.lbl-sentence-style {
    text-transform: lowercase;
}
.lbl-sentence-style::first-letter{
    text-transform: uppercase;
}
.align-right {
    justify-content: right !important;
    // display: flex;
    text-align: right;
    padding: 0;
    margin: 0;
}
.align-center {
    justify-content: center !important;
    display: flex;
    text-align: center;
    padding: 0;
    margin: 0;
}

.align-left {
    justify-content: left !important;
    display: flex;
    text-align: left;
    padding: 0;
    margin: 0;
}

ion-calendar {
    background-color: transparent !important;
    padding: 0px 0px;

    .title ion-button {
        font-weight: bold;
        color: white !important;
    }
    .unavailableDay {
        background-color: #6E6B6B !important;
        p {
            color: #6E6B6B !important;
        }
    }
    .days{
        height: calc(1em + 2vh) !important;
        margin-bottom: 0px !important;
        padding: 0 !important;
        p {
            color: white !important;
        }
    }
    .days-box {
        padding: 0 !important;
    }  
    .today {
        p {
            text-decoration: underline;
        }
    }
    .on-selected {
        background-color: white !important;
        p {
            color: var(--main-color) !important;
        }
    }
    .last-month-day{
        p {
            color: #6E6B6B !important;
        }
    }
    .next-month-day{
        p {
            color: #6E6B6B !important;
        }
    }
    ion-calendar-week{
        li {
            color:white !important;
            font-weight: bold;
        }
    }
    ion-icon {
        &[class*="arrow-dropdown"] {
            content: url("assets/ICONS/md-arrow-dropdown.svg") !important;
        }
        &[name*="ios-arrow-forward"] {
            content: url("assets/ICONS/ios-arrow-forward.svg") !important;
        }
        &[name*="ios-arrow-back"] {
            content: url("assets/ICONS/ios-arrow-back.svg") !important;
        }
    }
        
}


