.img-header{
    width: 50%;
    height: 50%
}
.grid-header{
    height: 10%;
}
.grid-central{
    width: 80%;
    align-items: center !important;
}
.row-titulo{
    height:100% !important;
    width: 100% !important;
    margin: 20% 0 5% 0 !important;
}
.row-titulo .titulo-img{
    width: 80%;
    height: 80%;
    min-width: 80%;
    min-height: 80%;
}
.row-avatar{
    height:100% !important;
    width: 100% !important;
}
.content-camera {
    position: relative;
}
.content-photo{
    border: 1px solid var(--main-color)  !important;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative; 
    left: 0px; 
    top: 0;
}
.ionfab{
    position: absolute; 
    left: 60px; 
    top: 55px;
}

.img-perfil {
    border: 1px solid var(--main-color)  !important;
    width: 100px !important;
    height: 100px !important;
    border-radius: 50px !important;
}

.style-transparent{
    --ion-background-color: transparent !important;
}
.custom-ion-input  {
    width: 100%;
		color: var(--main-color);
		padding-bottom: 5px;
		background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,192,200,1) 0%, rgba(2,159,215,1) 60%, rgba(3,128,229,1) 100%) left bottom rgba(134, 132, 132, 0) no-repeat;
		background-size: 100% 1px;
}
.custom-ion-datetime {
    width: 100%;
		color: var(--main-color);
		padding-bottom: 5px;
		background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,192,200,1) 0%, rgba(2,159,215,1) 60%, rgba(3,128,229,1) 100%) left bottom rgba(134, 132, 132, 0) no-repeat;
		background-size: 100% 1px;
   
}
.custom-select-opcion,  .custom-ion-select{
	color: var(--main-color);
	padding-bottom: 5px;
	background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,192,200,1) 0%, rgba(2,159,215,1) 60%, rgba(3,128,229,1) 100%) left bottom rgba(134, 132, 132, 0) no-repeat;
	background-size: 100% 1px;
}
.custom-ion-label{
    font-size: 1.2em !important;
    color: white !important;
    opacity: 0.5;
}
.btn-turquesa{
    color: black !important;
    background-color: var(--main-color) !important;
    border-radius: 60px;
    border: 2px solid var(--main-color);
    // margin-top: 10%;
    text-transform: none;
}
.row-button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    margin-top: 10%;
}
a {
    color: white !important;
    text-decoration: none;
}
.lbl_danger{
    margin-left: 10% !important;
    color: #eb445a;
    font-size: smaller;
}
.my-checkbox {
    display: flex;
    align-items: center;
}
.my-alert {
    --background: var(--ion-color-principal);
}
 
.alert-btn-camera {
    background: green !important;
    color: black;
}
.alert-btn-gallery{
    background: red !important;
    color: black;
}

@media (-webkit-min-device-pixel-ratio: 0.75),
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 120dpi) {
  ion-content {
    --background: url("/assets/INTRODUCCION/background-ldpi/3.jpg") no-repeat center center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 1),
  (-webkit-min-device-pixel-ratio: 1.6666666666666667),
  (min-resolution: 160dpi) {
  ion-content {
    --background: url("/assets/INTRODUCCION/background-mdpi/3.jpg") no-repeat center center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 1.33),
  (-webkit-min-device-pixel-ratio: 2.21875),
  (min-resolution: 213dpi) {
  ion-content {
    --background: url("/assets/INTRODUCCION/background-tvdpi/3.jpg") no-repeat center center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5),
  (-webkit-min-device-pixel-ratio: 2.5),
  (min-resolution: 240dpi) {
  ion-content {
    --background: url("/assets/INTRODUCCION/background-hdpi/3.jpg") no-repeat center center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 3.3333333333333335),
  (min-resolution: 320dpi) {
  ion-content {
    --background: url("/assets/INTRODUCCION/background-xhdpi/3.jpg") no-repeat center center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 3),
  (-webkit-min-device-pixel-ratio: 5),
  (min-resolution: 480dpi) {
  ion-content {
    --background: url("/assets/INTRODUCCION/background-xxhdpi/3.jpg") no-repeat center center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 4),
  (-webkit-min-device-pixel-ratio: 6.666666666666667),
  (min-resolution: 640dpi) {
  ion-content {
    --background: url("/assets/INTRODUCCION/background-xxxhdpi/3.jpg") no-repeat center center / cover;
  }
}