<ion-content>
    <ion-grid class="my-grid"  fixed scroll="false">
        <ion-row class="parent-row1">
            <ion-col  class="parent-col" size="12" sizeLg="4" sizeXL="3" sizeMd="4" sizeSm="6">
                <ion-img src="/assets/LOGO/logo.png"></ion-img>   
            </ion-col>
        </ion-row>
        <ion-row class="parent-row2">
            <ion-col class="parent-col">
                <ion-button fill="clear" [disabled]="!ready" (click)="goTo()">
                    <ion-label color="light"> ¡Empezar Ya!</ion-label>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>