ion-img{
    max-width: 50%;
    max-height:30%;
    align-items: center !important;
    margin: 0%;
}

.my-grid {
    height: 100% !important;
    width: 100% !important;   
}

.parent-row1 {
    height: 90% !important;
    justify-content: center !important;
    display: flex;
    align-items: center !important;
    padding: 0;
}
.parent-row2 {
    height: 10% !important;
    justify-content: center !important;
    display: flex;
    align-items: center !important;
}
.parent-col {
    justify-content: center !important;
    display: flex;
    align-items: center !important;
		ion-label {
			text-shadow: 2px 2px 2px #3a3a3a;
		}
}

@media (-webkit-min-device-pixel-ratio: 0.75),
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 120dpi) {
  ion-content {
    --background: url("/assets/INTRODUCCION/background-ldpi/1.jpg") no-repeat center center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 1),
  (-webkit-min-device-pixel-ratio: 1.6666666666666667),
  (min-resolution: 160dpi) {
  ion-content {
    --background: url("/assets/INTRODUCCION/background-mdpi/1.jpg") no-repeat center center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 1.33),
  (-webkit-min-device-pixel-ratio: 2.21875),
  (min-resolution: 213dpi) {
  ion-content {
    --background: url("/assets/INTRODUCCION/background-tvdpi/1.jpg") no-repeat center center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5),
  (-webkit-min-device-pixel-ratio: 2.5),
  (min-resolution: 240dpi) {
  ion-content {
    --background: url("/assets/INTRODUCCION/background-hdpi/1.jpg") no-repeat center center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 3.3333333333333335),
  (min-resolution: 320dpi) {
  ion-content {
    --background: url("/assets/INTRODUCCION/background-xhdpi/1.jpg") no-repeat center center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 3),
  (-webkit-min-device-pixel-ratio: 5),
  (min-resolution: 480dpi) {
  ion-content {
    --background: url("/assets/INTRODUCCION/background-xxhdpi/1.jpg") no-repeat center center / cover;
  }
}
@media (-webkit-min-device-pixel-ratio: 4),
  (-webkit-min-device-pixel-ratio: 6.666666666666667),
  (min-resolution: 640dpi) {
  ion-content {
    --background: url("/assets/INTRODUCCION/background-xxxhdpi/1.jpg") no-repeat center center / cover;
  }
}